<div class="table-responsive">
    <table class="text-nowrap table table-condensed table-bordered">
    <thead>
    <th><%= t('activerecord.attributes.spree/winbank_payment.support_reference_id') %></th>
    <th><%= t('activerecord.attributes.spree/winbank_payment.merchant_reference') %></th>
    <th><%= t('activerecord.attributes.spree/winbank_payment.status_flag') %></th>
    <th><%= t('activerecord.attributes.spree/winbank_payment.result_code') %></th>
    <th><%= t('activerecord.attributes.spree/winbank_payment.result_description') %></th>
    <th><%= t('activerecord.attributes.spree/winbank_payment.response_code') %></th>
    <th><%= t('activerecord.attributes.spree/winbank_payment.response_description') %></th>
    <th><%= t('activerecord.attributes.spree/winbank_payment.approval_code') %></th>
    <th><%= t('activerecord.attributes.spree/winbank_payment.package_no') %></th>
    <th><%= t('activerecord.attributes.spree/winbank_payment.auth_status') %></th>
    <th><%= t('activerecord.attributes.spree/winbank_payment.transaction_id') %></th>
    <th><%= Spree.t(:created_at) %></th>
    <th><%= Spree.t(:updated_at) %></th>
    </thead>
    <tbody>
        <% @payment.winbank_payments.each do |winbank_payment| %>
            <tr>
                <td><%= winbank_payment.support_reference_id %></td>
                <td><%= winbank_payment.merchant_reference %></td>
                <td><%= winbank_payment.status_flag %></td>
                <td><%= winbank_payment.result_code %></td>
                <td><%= winbank_payment.result_description %></td>
                <td><%= winbank_payment.response_code %></td>
                <td><%= winbank_payment.response_description %></td>
                <td><%= winbank_payment.approval_code %></td>
                <td><%= winbank_payment.package_no %></td>
                <td><%= winbank_payment.auth_status %></td>
                <td><%= winbank_payment.transaction_id %></td>
                <td><%= winbank_payment.created_at.strftime('%D-%M-%Y %H:%m') %></td>
                <td><%= winbank_payment.updated_at.strftime('%D-%M-%Y %H:%m') %></td>
            <tr>
        <% end %>
    </tbody>
    </table>
</div>