<div class="table-responsive">
    <table class="table table-condensed table-bordered">
        <tr>
        <th width="30%"><%= t('activerecord.attributes.spree/winbank_payment.support_reference_id') %>:</th>
        <td><%= payment.winbank.payment.support_reference_id %></td>
        </tr>
        <tr>
        <th><%= t('activerecord.attributes.spree/winbank_payment.merchant_reference') %>:</th>
        <td><%= payment.winbank.payment.merchant_reference %></td>
        </tr>
        <tr>
        <th><%= t('activerecord.attributes.spree/winbank_payment.status_flag') %>:</th>
        <td><%= payment.winbank.payment.status_flag %></td>
        </tr>
        <tr>
        <th><%= t('activerecord.attributes.spree/winbank_payment.result_code') %>:</th>
        <td><%= payment.winbank.payment.result_code %></td>
        </tr>
        <tr>
        <th><%= t('activerecord.attributes.spree/winbank_payment.result_description') %>:</th>
        <td><%= payment.winbank.payment.result_description %></td>
        </tr>
        <tr>
        <th><%= t('activerecord.attributes.spree/winbank_payment.response_code') %>:</th>
        <td><%= payment.winbank.payment.response_code %></td>
        </tr>
        <tr>
        <th><%= t('activerecord.attributes.spree/winbank_payment.response_description') %>:</th>
        <td><%= payment.winbank.payment.response_description %></td>
        </tr>
        <tr>
        <th><%= t('activerecord.attributes.spree/winbank_payment.approval_code') %>:</th>
        <td><%= payment.winbank.payment.approval_code %></td>
        </tr>
        <tr>
        <th><%= t('activerecord.attributes.spree/winbank_payment.package_no') %>:</th>
        <td><%= payment.winbank.payment.package_no %></td>
        </tr>
        <tr>
        <th><%= t('activerecord.attributes.spree/winbank_payment.auth_status') %>:</th>
        <td><%= payment.winbank.payment.auth_status %></td>
        </tr>
        <tr>
        <th><%= t('activerecord.attributes.spree/winbank_payment.transaction_id') %>:</th>
        <td><%= payment.winbank.payment.transaction_id %></td>
        </tr>
    </table>
</div>